<% @links.each do |link| %>
    <div class="link row clearfix">
      <h2>
        <%= link_to link.title, link %><br>
      </h2>
      <small class="author">Submitted <%= time_ago_in_words link.created_at %> ago, by <%= link.user.email %></small>
    </div>
<% end %>